
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle">
    <div th:replace="partials/title-meta :: title-meta('دسته بندی')"></div>
</th:block>

<head>
    <link href="/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
    <link href="/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    <style>
        .required::after {
            content: " *";
            color: #e34343;
        }
    </style>
</head>

<body>
<div layout:fragment="content">
    <div th:replace="partials/page-title :: page-title('دسته بندی ها','دسته بندی')"></div>

    <form th:object="${category}" th:action="@{/admin/category/save}" method="post" enctype="multipart/form-data" class="needs-validation mb-2" novalidate>
        <div class="row mb-2">
            <div class="card ribbon-box border shadow-none mb-lg-0">
                <div class="card-body text-muted">
                    <div class="ribbon-two ribbon-two-primary"><span>راهنما</span></div>
                    <h5 class="fs-14 text-end mb-3">ساختن دسته بندی</h5>
                    <p class="mb-0"><strong>توجه:</strong> اگر در حال ایجاد یک <strong>دسته‌بندی اصلی</strong> هستید، باید <strong>دسته‌بندی اصلی</strong> را خالی بگذارید. اگر در حال ایجاد یک <strong>دسته‌بندی فرعی</strong> هستید، فقط باید <strong>دسته‌بندی اصلی</strong> را انتخاب کنید.</p>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-lg-6">
                <div class="form-floating">
                    <input type="hidden" th:field="*{id}" />
                    <input th:field="*{name}" type="text" class="form-control" id="firstnamefloatingInput" required>
                    <label for="firstnamefloatingInput">نام</label>
                    <div class="invalid-feedback">
                        <p> لطفا نام دسته بندی را وارد کنید.</p>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" th:field="*{parent}">
                        <option value="" selected>انتخاب دسته بندی اصلی</option>
                        <option th:each="category : ${parentCategories}"
                                th:value="${category.id}"
                                th:text="${category.name}"></option>
                    </select>
                    <label for="floatingSelect">دسته بندی اصلی</label>
                </div>
            </div>

<!--            <div class="col-lg-6">-->
<!--                <div class="form-floating">-->
<!--                    <select class="form-select" id="floatingSelect2" aria-label="Floating label select example" th:field="*{children}">-->
<!--                        <option value="" selected>انتخاب زیر مجموعه</option>-->
<!--                        <option th:each="category : ${childCategories}"-->
<!--                                th:value="${category.id}"-->
<!--                                th:text="${category.name}"></option>-->
<!--                    </select>-->
<!--                    <label for="floatingSelect">دسته بندی زیرمجموعه</label>-->
<!--                </div>-->
<!--            </div>-->

            <div class="col-lg-6">
                <div class="form-floating">
                    <select th:field="*{status}" class="form-select" id="floatingSelect3" aria-label="Floating label select example" required>
                        <option value="" selected>انتخاب وضیعت</option>
                        <option value="Active">فعال</option>
                        <option value="UnActive">غیرفعال</option>
                    </select>
                    <label for="floatingSelect">وضیعت</label>
                    <div class="invalid-feedback">
                        <p> لطفا وضیعت دسته بندی را وارد کنید.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">ذخیره</button>
                </div>
            </div>
        </div>
    </form>
    <hr>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">دسته بندی ها</h5>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label for="status-filter" class="form-label">فیلتر بر اساس وضعیت:</label>
                            <select id="status-filter" class="form-select">
                                <option value="">همه</option>
                                <option value="فعال">فعال</option>
                                <option value="غیرفعال">غیرفعال</option>
                            </select>
                        </div>
                    </div>
                    <table id="model-datatables" class="table table-bordered nowrap table-striped align-middle" style="width:100%">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>نام دسته بندی</th>
                            <th>دسته بندی اصلی</th>
                            <th>دسته بندی زیرمجموعه</th>
                            <th>وضیعت</th>
                            <th>عملیات</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="category : ${categories}">
                            <td th:text="${category.id}"></td>
                            <td th:text="${category.name}"></td>
                            <td th:text="${category.parent != null ? category.parent.name : 'این دسته بندی اصلی است.'}"></td>
                            <td>
                                <span th:text="${#lists.isEmpty(category.children) ? 'زیر مجموعه ندارد' : 'زیر مجموعه وجود دارد'}"></span>
                                <ul th:if="${!#lists.isEmpty(category.children)}">
                                    <li th:each="child : ${category.children}" th:text="${child.name}"></li>
                                </ul>
                            </td>
                            <td>
                    <span th:text="${category.status == 'Active' ? 'فعال' : 'غیرفعال'}"
                          th:classappend="${category.status == 'Active' ? 'badge-soft-success' : 'badge-soft-danger'}"></span>
                            </td>
                            <td>
                                <div class="dropdown d-inline-block">
                                    <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="ri-more-fill align-middle"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a th:href="${'/category/edit/'+category.getId()}" type="submit" class="dropdown-item edit-item-btn"><i
                                                class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                                            ویرایش</a></li>
                                        <li>
                                            <form id="deleteForm" th:action="@{/category/delete/{id}(id=${category.getId()})}" method="post" style="display: inline;">
                                                <button type="submit" class="dropdown-item remove-item-btn" onclick="confirmDelete(event)">
                                                    <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                                                    حذف
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<th:block layout:fragment="modal">
</th:block>
<th:block layout:fragment="pagejs">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="/assets/js/pages/form-validation.init.js"></script>
    <script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="/assets/js/crawler/categories-list.js"></script>
    <script src="/assets/libs/prismjs/prism.js"></script>
    <script th:inline="javascript">
        function confirmDelete(event) {
            event.preventDefault();
            const form = event.target.closest('form');

            Swal.fire({
                title: 'آیا مطمئن هستید؟',
                text: 'این عمل قابل بازگشت نیست! و با انجام آن خبرهای آن دسته بندی را هم پاک می کنید!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'بله، حذف کن',
                cancelButtonText: 'لغو',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        }
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var success = [[${success}]];
        if (success === true) {
            Swal.fire({
                text: "دسته بندی شما با موفقیت ذخیره شد.",
                icon: "success",
                confirmButtonText: "تایید",
                confirmButtonColor: "#556ee6"
            });
        }
        /*]]>*/

        /*<![CDATA[*/
        var deleted = [[${deleted}]];
        if (deleted === true) {
            Swal.fire({
                text: "دسته بندی شما با موفقیت حذف شد.",
                icon: "success",
                confirmButtonText: "تایید",
                confirmButtonColor: "#556ee6"
            });
        }
        /*]]>*/
    </script>
    <script th:if="${error}" th:inline="javascript">
        Swal.fire({
            icon: 'error',
            title: 'خطا',
            text: [[${error}]],
            confirmButtonText: 'باشه'
        });
    </script>

</th:block>
</body>

</html>